@model SmartBudget.ViewModels.IncomeIndexData
@{
    ViewData["Title"] = "Index";
    var expenceTypeExist = TempData["DuplicateIncomeType"] as string;
    var notValid = TempData["NotValid"] as string;
    var fromIncomes = TempData["FromIncomes"] as string;
    var toIncomes = TempData["ToIncomes"] as string;
    var errorIncomeDate = TempData["ErrorIncomeDate"] as string;
}

<style>
    tr:nth-child(even) {
        background-color: #D3F8D3;
    }

    a:link, a:visited {
        color: #38B44A
    }
</style>

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-united.css" />
    <title>Incomes</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-8 p-2">
                <h2>Income Type List</h2>
                <table class="table border-1">
                    <tr class="border-secondary">
                        <th class="text-success w-25">Type</th>
                        <th class="text-success w-75">Options</th>
                    </tr>
                    @foreach (var item in Model.IncomesType.OrderBy(e => e.Id))
                    {
                        <tr>
                            <td class="w-75">@Html.DisplayFor(modelItem => item.Type)</td>
                            <td class="w-25">
                                @if (!String.IsNullOrEmpty(item.UserId.ToString()))
                                {
                                    <a asp-action="IncomeTypeEdit" asp-route-id="@item.Id">Edit</a><a> |</a>
                                    <a asp-action="IncomeTypeDelete" asp-route-id="@item.Id">Delete</a>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>

            <div class="col-3 offset-1 align-self-center">
                <form method="post" asp-action="IncomeTypeCreate">
                    <div class="row">
                        <h4>Create new income type</h4>
                    </div>
                    <div class="row mt-3">
                        <input type="text" asp-for="IncomeType.Type" class="form-control" placeholder="Income type" aria-label="Income type"><br />
                    </div>

                    <div class="row mt-3">
                        <input class="btn btn-success" type="submit" value="Add" />
                    </div>

                    <div class="row mt-2">
                        @if (!string.IsNullOrEmpty(notValid))
                        {
                            <div class="alert alert-dismissible alert-success">
                                <span>@notValid</span>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(expenceTypeExist))
                        {
                            <div class="alert alert-dismissible alert-success">
                                <span>@expenceTypeExist</span>
                            </div>
                        }
                    </div>
                </form>
            </div>
        </div>

        <div>
            <form method="get" asp-action="Index">
                <div class="row p-2">
                    <div class="container g-3">
                        <div>
                            <h2>Income List</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-grid gap-3 mb-2 d-md-flex justify-content-end">
                            <input type="date" name="fromIncomes" class="form-control-sm" placeholder="From" value="@fromIncomes" />
                            <input type="date" name="toIncomes" class="form-control-sm" placeholder="To" value="@toIncomes" />
                            <input type="submit" class="btn-sm btn-success" value="Search" />
                        </div>
                    </div>
                    @if (!String.IsNullOrEmpty(@errorIncomeDate))
                    {
                        <div class="alert alert-dismissible alert-danger mt-2 text-center">
                            @errorIncomeDate
                        </div>
                    }
                    @if (Model.Incomes.Count() > 0)
                    {
                        <table class="table border-1">
                            <tr class="border-secondary">
                                <th>
                                    <a asp-action="Index" asp-route-sortOrderIncome="@ViewData["TitleSortParm"]" asp-route-fromIncomes="@fromIncomes" asp-route-toIncomes="@toIncomes">@Html.DisplayNameFor(model => model.Income.Title)</a>
                                </th>
                                <th>
                                    <a asp-action="Index" asp-route-sortOrderIncome="@ViewData["AmountSortParm"]" asp-route-fromIncomes="@fromIncomes" asp-route-toIncomes="@toIncomes">@Html.DisplayNameFor(model => model.Income.Amount)</a>
                                </th>
                                <th>
                                    <a asp-action="Index" asp-route-sortOrderIncome="@ViewData["TypeSortParm"]" asp-route-fromIncomes="@fromIncomes" asp-route-toIncomes="@toIncomes">Type</a>
                                </th>
                                <th>
                                    <a asp-action="Index" asp-route-sortOrderIncome="@ViewData["DateSortParm"]" asp-route-fromIncomes="@fromIncomes" asp-route-toIncomes="@toIncomes">@Html.DisplayNameFor(model => model.Income.CreatedAt)</a>
                                </th>
                                <th class="text-success">Options</th>
                            </tr>
                            @foreach (Income item in Model.Incomes)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IncomeType.Type)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                                    <td>
                                        <a asp-action="IncomeEdit" asp-route-id="@item.Id">Edit</a>
                                        <a asp-action="IncomeDelete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                    else
                    {
                        <p>No records to display</p>
                    }
                </div>
                <a asp-controller="Income" asp-action="IncomeCreate" class="btn btn-success" style="color:antiquewhite">Create new income</a>@*Connection between register and controler*@
                <a asp-controller="Income" asp-action="IncomeReport" asp-route-fromIncomes="@fromIncomes" asp-route-toIncomes="@toIncomes" class="btn btn-success" style="color:antiquewhite">Export to Excel</a>
            </form>
        </div>
    </div>
</body>