@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var b0 = TempData["B0"] as string;
    var b1 = TempData["B1"] as string;
    var predictedBalanceFirst = TempData["PredictedBalanceFirst"] as string;
    var nextPeriodFirst = TempData["NextPeriodFirst"] as string;
    var predictedBalanceSecond = TempData["PredictedBalanceSecond"] as string;
    var nextPeriodSecond = TempData["NextPeriodSecond"] as string;
    var predictedBalanceThird = TempData["PredictedBalanceThird"] as string;
    var nextPeriodThird = TempData["NextPeriodThird"] as string;
}

<head>
    <script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "Balance By Year and Month"
	},
	toolTip: {
		shared: true
	},
	data: [{
        markerColor: "#00003f",
		type: "line",
		name: "Balance",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints)
	}]
});
chart.render();

}
    </script>
</head>
<body>
    <div class="row h-100">
        @if (string.IsNullOrEmpty(predictedBalanceFirst))
        {
            <div class="mt-4">
                <p>
                    Oops, you don't have any records yet. Please add
                    <a class="text-danger" asp-controller="Expense" asp-action="Index">expenses</a> and
                    <a class="text-success" asp-controller="Income" asp-action="Index">incomes</a>
                    in order to use this functionality.
                </p>
            </div>
        }
        else
        {
            <div class="col align-self-center">
                <div class="row mt-2">
                    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                    <p>
                        It seems that there is a
                        @if (Double.Parse(b1) < 0)
                        {
                            <span class="text-danger">@Math.Abs(float.Parse(b1))% decrease</span>
                        }
                        else
                        {
                            <span class="text-success">@Math.Abs(float.Parse(b1))% increase</span>
                            <span class="text-success">@Math.Abs(float.Parse(b1))% increase</span>
                        }
                        in your balance.
                        The predicted balances are present in the chart.
                    </p>
                    <div class="row justify-content-center">
                        <table class="table border-1 w-50 text-center">
                            <tr>
                                <th>Month</th>
                                <th>Calculated value</th>
                            </tr>
                            <tr>
                                <td>@nextPeriodFirst</td>
                                <td>@predictedBalanceFirst</td>
                            </tr>
                            <tr>
                                <td>@nextPeriodSecond</td>
                                <td>@predictedBalanceSecond</td>
                            </tr>
                            <tr>
                                <td>@nextPeriodThird</td>
                                <td>@predictedBalanceThird</td>
                            </tr>
                        </table>
                    </div>
                    <p class="mt-2">
                        <em>
                            If you don't see partcular month in the chart, please provide information for the
                            <a class="text-danger" asp-controller="Expense" asp-action="Index">expenses</a> and
                            <a class="text-success" asp-controller="Income" asp-action="Index">incomes</a>
                        </em>
                    </p>
                </div>
            </div>
        }
    </div>
</body>
